.header {
  background-color: #0d47a1;
  color: white;
  padding: 150px 0px;
  height: 820px;
}
.header-text {
  margin-top: 110px;
  padding: 30px;
  text-align: center;
}
body {
  font-family: "Nunito", sans-serif;
}
a {
  color: white;
}
a:hover {
  color: white;
}
